/* Blogs Section  */
.innerpage .blogSection {
    padding: 0;
    background: #fff;
    width: 100%;
}

/* .innerpage .blogSection .blogHeadingRow span {
  font-size: 22px;
} */
section.post-detail-section {
    padding-top: 5rem !important;
}

.innerpage .blogSection .blogHeadingRow span:before,
.innerpage .blogSection .blogHeadingRow span:after {
    height: 20px;
}

.innerpage .blogSection .blogsLabel {
    font-size: 22px;
    font-weight: 700;
    color: var(--blue-color);
    letter-spacing: 2px;
    text-transform: uppercase;
}

.innerpage .blogSection .blogTitle {
    font-size: 2rem;
    font-weight: 700;
    color: var(--blue-color);
    text-transform: uppercase;
    margin: 35px 0 18px 0;
    line-height: 1.1;
}

.innerpage .blogSection .blogTitle .blogHighlight {
    background: linear-gradient(to left,
            var(--green-color),
            var(--lightgreen-color));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.innerpage .blogSection .blogSubtitle {
    font-size: 1vw;
    color: var(--blue-color);
    letter-spacing: 2px;
    margin: 25px 0;
    text-transform: uppercase;
}

.innerpage .blogSection .blogAllBtn,
.innerpage .blogSection .blogAllBtnmobile {
    font-size: 1rem;
    font-weight: 700;
    width: max-content;
}

.innerpage .blogSection .blogAllBtnmobile {
    display: none;
}

.innerpage .blogSection .blogLeft h3 {
    width: 80%;
}

.innerpage .blogSection .blogRight {
    display: flex;
    flex-direction: column;
    gap: 36px;
}

.innerpage .blogSection .blogCard {
    display: flex;
    align-items: center;
    gap: 30px;
    background: none;
    box-shadow: none;
}

.innerpage .blogSection .blogImg {
    max-width: 15vw;
    object-fit: cover;
    border-radius: 24px;
}

.innerpage .blogSection .blogCardContent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 12px;
    flex: 1;
}

.innerpage .blogSection .blogCardTitle {
    font-size: 1vw;
    font-weight: 700;
    color: var(--blue-color);
    margin-bottom: 4px;
    line-height: 1.2;
}

.innerpage .blogSection .blogCardDesc {
    font-size: 0.8vw;
    color: #7a8ca3;
    opacity: 0.9;
    line-height: 1.2;
}

.innerpage .blogSection .blogCardLine {
    width: 100%;
    height: 1px;
    background: linear-gradient(to right, var(--border-color), transparent);
    margin: 8px 0;
}

.innerpage .blogSection .blogReadMoreBtn {
    font-size: 1rem;
    font-weight: 700;
    padding: 5px 20px;
}

.innerpage .blogSection .blogReadMoreBtn:hover {
    transform: scale(1.05);
}

.innerpage .blogSection .blogReadMoreArrow {
    width: 25px;
    height: 25px;
}

.innerpage .blogSection .blogReadMoreArrow img {
    width: 100%;
    height: 100%;
}

.toc-item a:hover {
    text-decoration: underline !important;
}

.toc-list {
    counter-reset: section;
    list-style: none;
    padding-left: 0;
}

.toc-list li {
    counter-increment: section;
    margin-bottom: 6px;
}

.toc-list li a::before {
    content: counter(section) ". ";
    font-weight: 600;
    color: #000;
    /* optional */
}

.post-content img {
    height: auto;
}

@media (max-width: 1100px) {
    .innerpage .blogSection .blogTitle {
        font-size: 20.4px;
    }

    .innerpage .blogSection .blogSubtitle {
        font-size: 1rem;
    }

    .innerpage .blogSection .blogAllBtn {
        font-size: 1rem;
    }

    .innerpage .blogSection .blogCardTitle {
        font-size: 1rem;
    }

    .innerpage .blogSection .blogCardDesc {
        font-size: 1rem;
    }
}

@media (max-width: 991px) {
    .innerpage .blogSection .blogLeft {
        text-align: center;
    }

    .innerpage .blogSection .blogTitle {
        max-width: 500px;
        margin: 20px auto;
    }

    .innerpage .blogSection .blogAllBtn {
        margin: 0 auto;
    }

    .innerpage .blogSection .blogCard {
        padding-bottom: 40px;
        border-bottom: 1px solid #dedede;
    }

    .innerpage .blogSection .blogCardTitle {
        font-size: 1.2rem;
        line-height: 1.2;

    }

    .innerpage .blogSection .blogCardContent {
        padding-right: 30px;
    }

    .innerpage .blogSection .blogCardDesc {
        margin-bottom: 10px;
    }

    .innerpage .blogSection .blogReadMoreBtn {
        padding: 10px 20px;
        letter-spacing: 2px;
    }

    .innerpage .blogSection .blogCardLine {
        display: none;
    }
}

@media (max-width: 767px) {

    .innerpage .blogSection .blogSubtitle,
    .innerpage .blogSection .blogAllBtn {
        display: none;
    }

    .innerpage .blogSection .blogImg {
        width: 200px;
    }

    .innerpage .blogSection .blogAllBtnmobile {
        display: flex;
        margin: 0 auto;
    }
}

@media (max-width: 575px) {

    .innerpage .actblogs .blogSection {
        padding: 0 0 0 0;
    }

    .innerpage .blogSection {}

    .innerpage .blogSection .blogImg {
        max-width: 100%;
        width: 100%;
    }

    .innerpage .blogSection .blogCard {
        flex-direction: column;
        margin-bottom: 20px;
        padding-bottom: 20px;
    }

    .innerpage .blogSection .blogRight {
        gap: 5px;
    }

    .innerpage .blogSection .container>div {
        gap: 0 !important;
    }

    .innerpage .blogSection .blogCardDesc {
        font-size: 0.8rem;
    }

    .innerpage .blogSection .blogLeft h3 {
        width: 100%;
    }

    .innerpage .blogSection .blogCardTitle {
        font-size: 1.rem;
        line-height: 1;

    }
}

@media (max-width: 440px) {
    .innerpage .blogSection .blogCard {
        flex-direction: column;
    }

    .innerpage .blogSection .blogImg {
        width: 100%;
        max-width: 100%;
        height: auto;
    }
}