/* styles/critical.css - Load FIRST for fastest paint */

/* CSS Variables */
:root {
    --font-montserrat: 'Montserrat', Arial, sans-serif;
}

/* Basic Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Body & Typography */
body {
    font-family: var(--font-montserrat);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* Container - Critical for layout */
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

/* Basic Grid - d-flex, col classes */
.d-flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.flex-row {
    flex-direction: row;
}

.w-100 {
    width: 100%;
}

.m-0 {
    margin: 0;
}

.p-0 {
    padding: 0;
}

.col-auto {
    flex: 0 0 auto;
    width: auto;
}

/* .col-4 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}

.col-8 {
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
} */

/* Header visibility classes */
.d-none {
    display: none !important;
}

.d-sm-block {
    display: block !important;
}

@media (min-width: 992px) {
    .d-lg-flex {
        display: flex !important;
    }

    .d-lg-none {
        display: none !important;
    }
}

/* Position utilities */
.position-absolute {
    position: absolute;
}

.position-relative {
    position: relative;
}

/* Hide content initially to prevent FOUC */
main {
    min-height: auto;
}