/* Blogs Section  */
.home .blogSection {
  padding: 80px 0 40px 0;
  background: #fff;
  width: 100%;
}

.home .blogSection .blogHeadingRow span {
  font-size: 22px;
}

.home .blogSection .blogHeadingRow span:before,
.home .blogSection .blogHeadingRow span:after {
  height: 20px;
}

.home .blogSection .blogsLabel {
  font-size: 22px;
  font-weight: 700;
  color: var(--blue-color);
  letter-spacing: 2px;
  text-transform: uppercase;
}

.home .blogSection .blogTitle {
  font-size: 1.8vw;
  font-weight: 700;
  color: var(--blue-color);
  text-transform: uppercase;
  margin: 35px 0 18px 0;
  line-height: 1.1;
}

.home .blogSection .blogTitle .blogHighlight {
  background: linear-gradient(to left,
      var(--green-color),
      var(--lightgreen-color));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.home .blogSection .blogSubtitle {
  font-size: 1vw;
  color: var(--blue-color);
  letter-spacing: 2px;
  margin: 25px 0;
  text-transform: uppercase;
}

.home .blogSection .blogAllBtn,
.home .blogSection .blogAllBtnmobile {
  font-size: 1rem;
  font-weight: 700;
  width: max-content;
}

.home .blogSection .blogAllBtnmobile {
  display: none;
}

.home .blogSection .blogRight {
  display: flex;
  flex-direction: column;
  gap: 36px;
}

.home .blogSection .blogCard {
  display: flex;
  align-items: center;
  gap: 30px;
  background: none;
  box-shadow: none;
}

.home .blogSection .blogImg {
  width: 300px;
  height: 250px;
  object-fit: cover;
  border-radius: 24px;
}

.home .blogSection .blogCardContent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 12px;
  flex: 1;
}

.home .blogSection .blogCardTitle {
  font-size: 1.5vw;
  font-weight: 700;
  color: var(--blue-color);
  margin-bottom: 4px;
  letter-spacing: 1px;
}

.home .blogSection .blogCardDesc {
  font-size: 1vw;
  color: #7a8ca3;
  opacity: 0.9;
}

.home .blogSection .blogCardLine {
  width: 100%;
  height: 1px;
  background: linear-gradient(to right, var(--border-color), transparent);
  margin: 8px 0;
}

.home .blogSection .blogReadMoreBtn {
  font-size: 1rem;
  font-weight: 700;
}

.home .blogSection .blogReadMoreBtn:hover {
  transform: scale(1.05);
}

.home .blogSection .blogReadMoreArrow {
  width: 25px;
  height: 25px;
}

.home .blogSection .blogReadMoreArrow img {
  width: 100%;
  height: 100%;
}

@media (max-width: 1100px) {
  .home .blogSection .blogTitle {
    font-size: 1.4rem;
  }

  .home .blogSection .blogSubtitle {
    font-size: 1rem;
  }

  .home .blogSection .blogAllBtn {
    font-size: 1rem;
  }

  .home .blogSection .blogCardTitle {
    font-size: 1rem;
  }

  .home .blogSection .blogCardDesc {
    font-size: 1rem;
  }
}

@media (max-width: 991px) {
  .home .blogSection .blogLeft {
    text-align: center;
  }

  .home .blogSection .blogTitle {
    max-width: 500px;
    margin: 20px auto;
  }

  .home .blogSection .blogAllBtn {
    margin: 0 auto;
  }

  .home .blogSection .blogCard {
    padding-bottom: 40px;
    border-bottom: 1px solid #dedede;
  }

  .home .blogSection .blogCardTitle {
    font-size: 1.2rem;
    line-height: 1.2;
    text-transform: uppercase;
  }

  .home .blogSection .blogCardContent {
    padding-right: 30px;
  }

  .home .blogSection .blogCardDesc {
    margin-bottom: 10px;
  }

  .home .blogSection .blogReadMoreBtn {
    padding: 10px 20px;
    letter-spacing: 2px;
  }

  .home .blogSection .blogCardLine {
    display: none;
  }
}

@media (max-width: 767px) {

  .home .blogSection .blogSubtitle,
  .home .blogSection .blogAllBtn {
    display: none;
  }

  .home .blogSection .blogImg {
    width: 200px;
  }

  .home .blogSection .blogAllBtnmobile {
    display: flex;
    margin: 0 auto;
  }
}

@media (max-width: 575px) {
  .home .blogSection .blogImg {
    /* width: 150px;
    height: 200px; */
    
  }
}

@media (max-width: 440px) {
  .home .blogSection .blogCard {
    flex-direction: column;
  }

  .home .blogSection .blogImg {
    width: 100%;
    height: 200px;
  }
}