.alumniSection {
  padding: 70px 0;
}


.gallery-swiperWrapper {
  position: relative;
  padding-bottom: 60px;
  overflow: visible;
}

/* Slide wrapper stacks card + info */
.gallery-slideWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  text-align: center;
}

.gallery-swapper .swiper-button-prev:after,
.swiper-button-next:after {
  display: none !important;
  border: 0 !important;
  background-color: none !important;

}

.gallery-swapper .customNavBtn {
  border: 0 !important;
  background-color: none !important;
}

/* Header */
.gallerySection {
  padding: 70px 0;
}


.galleryHeadings {
  text-align: center;
  background: linear-gradient(white, white) padding-box,
    linear-gradient(to right, var(--border-color), #e7f6ff) border-box;
  border-bottom: 2px solid transparent;
  padding-bottom: 30px;
}

.galleryTitle {
  font-size: 2rem;
  font-weight: 700;
  margin: 40px 0 30px;
  line-height: 1.1;
  text-transform: uppercase;
  color: var(--blue-color);
}

.galleryTitle .highlight {
  background: linear-gradient(to right, var(--lightgreen-color), var(--green-color));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.galleryHeadings p {
  font-size: 1.4rem;
  max-width: 60%;
  margin: 0 auto;
  color: rgba(0, 0, 0, 0.5);
  line-height: 1.4;
}

/* .SubHeading {
  font-size: 0.9rem;
  font-weight: 600;
  letter-spacing: 2px;
  margin: 0;
  text-transform: uppercase;
  color: #1e3a8a;
  padding-top: 10px;
} */


.gallerySection .galleryHeadings:before {
  content: "";
  width: 130%;
  height: 100%;
  position: absolute;
  top: 0;
  right: -40%;
  border: 3px solid black;
  border-radius: 30px;
  background-color: var(--white-color);
  background: linear-gradient(white, white) padding-box,
    linear-gradient(to right, var(--border-color), #e7f6ff) border-box;
  border-radius: 40px;
  border: 2px solid transparent;
  z-index: -1;
}

.gallery-slider .swiper-slide-shadow {
  opacity: 0 !important;
}

.gallery-swipper .gallery-text {
  display: none;
}

.gallery-swipper .swiper-slide-active .gallery-text {
  display: table;
}

@media (max-width: 767px) {

  .gallery-slider {
    margin: 0;
    margin-right: 0 !important;
    margin-left: 0 !important;
    padding: 0 !important;
  }

  .gallery-slider .row {
    margin: 0;
    margin-right: 0 !important;
    margin-left: 0 !important;
    padding: 0 !important;
  }

  .gallery-slider .col-12 {

    margin-right: 0 !important;
    margin-left: 0 !important;
    padding: 0 !important;
  }
}