/* Blogs Section */
.blogSection {
  padding: 80px 0 40px 0;
  background: #fff;
  width: 100%;
}

.blogsLabel {
  font-size: 22px;
  font-weight: 700;
  color: var(--blue-color);
  letter-spacing: 2px;
  text-transform: uppercase;
}

.blogTitle {
  font-weight: 700;
  color: var(--blue-color);
  text-transform: uppercase;
  margin: 35px 0 18px 0;
  line-height: 1.1;
}

.blogHighlight {
  background: linear-gradient(to left, var(--green-color), var(--lightgreen-color));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.blogSubtitle {
  font-size: 1vw;
  color: var(--blue-color);
  letter-spacing: 2px;
  margin: 25px 0;
  text-transform: uppercase;
}

.blogAllBtn,
.blogAllBtnmobile {
  font-size: 1rem;
  font-weight: 700;
  width: max-content;
}

.blogAllBtnmobile {
  display: none;
}

.blogLeft h3 {
  width: 80%;
  font-size: 2rem;
}

.blogRight {
  display: flex;
  flex-direction: column;
  gap: 36px;
}

.blogCard {
  display: flex;
  align-items: center;
  gap: 30px;
  background: none;
  box-shadow: none;
}

.blogImg {
  max-width: 15vw;
  object-fit: cover;
  border-radius: 24px;
}

.blogCardContent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 12px;
  flex: 1;
}

.blogCardTitle {
  font-size: 1vw;
  font-weight: 700;
  color: var(--blue-color);
  margin-bottom: 4px;
  line-height: 1.2;
}

.blogCardDesc {
  font-size: 0.8vw;
  color: #7a8ca3;
  opacity: 0.9;
  line-height: 1.2;
}

.blogCardLine {
  width: 100%;
  height: 1px;
  background: linear-gradient(to right, var(--border-color), transparent);
  margin: 8px 0;
}

.blogReadMoreBtn {
  font-size: 1rem;
  font-weight: 700;
  padding: 5px 20px;
}

.blogReadMoreBtn:hover {
  transform: scale(1.05);
}

.blogReadMoreArrow {
  width: 25px;
  height: 25px;
}

.blogReadMoreArrow img {
  width: 100%;
  height: 100%;
}

@media (max-width: 1100px) {
  .blogTitle {
    font-size: 1.4rem;
  }

  .blogSubtitle {
    font-size: 14px;
  }

  .blogAllBtn {
    font-size: 1rem;
  }

  .blogCardTitle {
    font-size: 1rem;
  }

  .blogCardDesc {
    font-size: 1rem;
  }
}

@media (max-width: 991px) {
  .blogLeft {
    text-align: center;
  }

  .blogTitle {
    max-width: 500px;
    margin: 20px auto;
    font-size: 20.4px !important;
    line-height: 23px !important;
  }

  .blogAllBtn {
    margin: 0 auto;
  }

  .blogCard {
    padding-bottom: 40px;
    border-bottom: 1px solid #dedede;
  }

  .blogCardContent {
    padding-right: 30px;
  }

  .blogCardDesc {
    margin-bottom: 10px;
  }

  .blogReadMoreBtn {
    padding: 10px 20px;
    letter-spacing: 2px;
  }

  .blogCardLine {
    display: none;
  }
}

@media (max-width: 767px) {

  .blogSubtitle,
  .blogAllBtn {
    display: block;
  }

  .blogImg {
    max-width: 30vw;
  }

  .blogAllBtnmobile {
    display: flex;
    margin: 0 auto;
  }

  .blogCard {
    gap: 7vw;
  }

  .blogCardDesc {
    font-size: 0.8rem;
  }
}

@media (max-width: 575px) {
  .blogAllBtnmobile {
    max-width: 100vw;
  }

  .blogImg {
    max-width: 95vw;
  }

  .blogCard {
    flex-direction: column;
    margin-bottom: 20px;
    padding-bottom: 20px;
  }

  .blogLeft h3 {
    width: 100%;
  }

  .blogRight {
    gap: 5px;
  }
}

@media (max-width: 440px) {
  .blogCard {
    flex-direction: column;
  }
}

/* Global utility class */
:global(.mobile-hide) {
  display: none;
}

@media (min-width: 576px) {
  :global(.mobile-hide) {
    display: block;
  }
}